Flask
requests
python-telegram-bot
colorama
fake-useragent
faker
uuid
asyncio
typing-extensions
certifi
charset-normalizer
idna
urllib3
httpx
httpcore
sniffio
h11
pytz
python-dotenv
Werkzeug
MarkupSafe
Jinja2
itsdangerous
click
APScheduler
tzlocal
six
python-dateutil
pytz-deprecation-shim
tzdata
backoff
aiohttp
aiosignal
frozenlist
multidict
yarl
attrs
psutil
cryptography
pyOpenSSL
cffi
pycparser
socksio
async-timeout
